<<<<<<< HEAD
=======
<h1>
  <b>HOLDON!</b>
  While we connect you back to merchant's site
</h1>
>>>>>>> dc819b21a2c0912024c8a14fcab24217124edf38
<% if @error.present? %>
  <p class="error">
    <%= @message %>
  </p>
<<<<<<< HEAD
<% else %>
  <h4>Waiting payment confirmation... Do not refresh the page!</h4>
=======
>>>>>>> dc819b21a2c0912024c8a14fcab24217124edf38
<% end %>

<script>
  $(document).ready(function(){
    setTimeout(function(){
      window.location.replace("<%= @redirect_path %>");
    }, 5000);
  })
</script>
