<h4>Processing... Do not refresh the page!</h4>

<div id="payment_gateway">
  <form class="input-form">
    <div class="a" hidden>Transaction Request: <%= text_area_tag(:txn_req, @txn_req, size: "100x6") %></div>
    <div class="a" hidden>HMAC: <%= text_area_tag(:hmac, @hmac, size: "100x1") %></div>
    <div class="a" hidden>Key ID: <%= text_area_tag(:key_id, @key_id, size: "100x1") %></div>
  </form>
</div>

<div class="payment-section">
  <fieldset>
    <div id="ajaxResponse"></div>
  </fieldset>
</div>

<script type="text/javascript">
  function checkOut() {
    sendPayLoad(txn_req.value, hmac.value, key_id.value);
    $("#payment_gateway").hide();
  };

  $(document).ready(function() {
    checkOut();
  })
</script>
