Pay with <%= link_to(image_tag(payment_method.preferred_image_url), enets_pay_path(pid: payment_method.id), method: :post, class: "btn btn-success") %>

<div class="payment-section">
  <fieldset>
      <div id="ajaxResponse"></div>
  </fieldset>
</div>

<script>
  Paysera = {
      updateSaveAndContinueVisibility: function() {
        if (this.isButtonHidden()) {
          $(this).trigger('hideSaveAndContinue')
        } else {
          $(this).trigger('showSaveAndContinue')
        }
      },
      isButtonHidden: function () {
        paymentMethod = this.checkedPaymentMethod();
        return (!$('#use_existing_card_yes:checked').length && Paysera.paymentMethodID && paymentMethod.val() == Paysera.paymentMethodID);
      },
      checkedPaymentMethod: function() {
        return $('div[data-hook="checkout_payment_step"] input[type="radio"][name="order[payments_attributes][][payment_method_id]"]:checked');
      },
      hideSaveAndContinue: function() {
        $("#checkout_form_payment [data-hook=buttons]").hide();
      },
      showSaveAndContinue: function() {
        $("#checkout_form_payment [data-hook=buttons]").show();
      }
    }

    $(document).ready(function() {
      Paysera.updateSaveAndContinueVisibility();
      paymentMethods = $('div[data-hook="checkout_payment_step"] input[type="radio"]').click(function (e) {
        Paysera.updateSaveAndContinueVisibility();
      });
    })
    Paysera.paymentMethodID = "<%= payment_method.id %>"
</script>
